{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
        "title": "Security Center",
        "version": "2015-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/jitNetworkAccessPolicies.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "security-jitNetworkAccessPolicies",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
            "get": {
                "description": "Policies for protecting resources using Just-in-Time access control.",
                "operationId": "JitNetworkAccessPolicies_List",
                "parameters": [
                    {
                        "description": "Azure subscription ID",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
                        }
                    },
                    {
                        "description": "API version for the operation",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI to fetch the next page.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Describes an Azure resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    },
                                                    {
                                                        "description": "Describes an Azure resource with kind",
                                                        "properties": {
                                                            "kind": {
                                                                "description": "Kind of the resource",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    {
                                                        "description": "Describes an Azure resource with location",
                                                        "properties": {
                                                            "location": {
                                                                "description": "Location where the resource is stored",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "properties": {
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "provisioningState": {
                                                                "description": "Gets the provisioning state of the Just-in-Time policy.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "requests": {
                                                                "items": {
                                                                    "properties": {
                                                                        "requestor": {
                                                                            "description": "The identity of the person who made the request",
                                                                            "type": "string"
                                                                        },
                                                                        "startTimeUtc": {
                                                                            "description": "The start time of the request in UTC",
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "virtualMachines": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "description": "Resource ID of the virtual machine that is linked to this policy",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "ports": {
                                                                                        "description": "The ports that were opened for the virtual machine",
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "allowedSourceAddressPrefix": {
                                                                                                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "allowedSourceAddressPrefixes": {
                                                                                                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
                                                                                                    "items": {
                                                                                                        "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "endTimeUtc": {
                                                                                                    "description": "The date & time at which the request ends in UTC",
                                                                                                    "format": "date-time",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "number": {
                                                                                                    "maximum": 65535,
                                                                                                    "minimum": 0,
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "status": {
                                                                                                    "description": "The status of the port",
                                                                                                    "enum": [
                                                                                                        "Revoked",
                                                                                                        "Initiated"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "status",
                                                                                                        "values": [
                                                                                                            {
                                                                                                                "value": "Revoked"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "Initiated"
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                },
                                                                                                "statusReason": {
                                                                                                    "description": "A description of why the `status` has its value",
                                                                                                    "enum": [
                                                                                                        "Expired",
                                                                                                        "UserRequested",
                                                                                                        "NewerRequestInitiated"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "statusReason",
                                                                                                        "values": [
                                                                                                            {
                                                                                                                "value": "Expired"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "UserRequested"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "NewerRequestInitiated"
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "endTimeUtc",
                                                                                                "number",
                                                                                                "status",
                                                                                                "statusReason"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "id",
                                                                                    "ports"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "requestor",
                                                                        "startTimeUtc",
                                                                        "virtualMachines"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "virtualMachines": {
                                                                "description": "Configurations for Microsoft.Compute/virtualMachines resource type.",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "Resource ID of the virtual machine that is linked to this policy",
                                                                            "type": "string"
                                                                        },
                                                                        "ports": {
                                                                            "description": "Port configurations for the virtual machine",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "allowedSourceAddressPrefix": {
                                                                                        "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "allowedSourceAddressPrefixes": {
                                                                                        "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
                                                                                        "items": {
                                                                                            "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "maxRequestAccessDuration": {
                                                                                        "description": "Maximum duration requests can be made for. In ISO 8601 duration format. Minimum 5 minutes, maximum 1 day",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "number": {
                                                                                        "maximum": 65535,
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "protocol": {
                                                                                        "enum": [
                                                                                            "TCP",
                                                                                            "UDP",
                                                                                            "*"
                                                                                        ],
                                                                                        "type": "string",
                                                                                        "x-ms-enum": {
                                                                                            "modelAsString": true,
                                                                                            "name": "protocol",
                                                                                            "values": [
                                                                                                {
                                                                                                    "value": "TCP"
                                                                                                },
                                                                                                {
                                                                                                    "value": "UDP"
                                                                                                },
                                                                                                {
                                                                                                    "name": "All",
                                                                                                    "value": "*"
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "maxRequestAccessDuration",
                                                                                    "number",
                                                                                    "protocol"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "ports"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "virtualMachines"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response structure.",
                                    "properties": {
                                        "error": {
                                            "description": "Error details.",
                                            "properties": {
                                                "code": {
                                                    "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A message describing the error, intended to be suitable for display in a user interface.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-external": true
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-external": true
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "x-ms-examples": {
                    "Get JIT network access policies on a subscription": {
                        "parameters": {
                            "api-version": "2015-06-01-preview",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/westeurope/jitNetworkAccessPolicies/default",
                                            "kind": "Basic",
                                            "location": "westeurope",
                                            "name": "default",
                                            "properties": {
                                                "provisioningState": "Succeeded",
                                                "requests": [
                                                    {
                                                        "requestor": "barbara@contoso.com",
                                                        "startTimeUtc": "2018-05-17T08:06:45.5691611Z",
                                                        "virtualMachines": [
                                                            {
                                                                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1",
                                                                "ports": [
                                                                    {
                                                                        "allowedSourceAddressPrefix": "192.127.0.2",
                                                                        "endTimeUtc": "2018-05-17T09:06:45.5691611Z",
                                                                        "number": 3389,
                                                                        "status": "Initiated",
                                                                        "statusReason": "UserRequested"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "virtualMachines": [
                                                    {
                                                        "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1",
                                                        "ports": [
                                                            {
                                                                "allowedSourceAddressPrefix": "*",
                                                                "maxRequestAccessDuration": "PT3H",
                                                                "number": 22,
                                                                "protocol": "*"
                                                            },
                                                            {
                                                                "allowedSourceAddressPrefix": "*",
                                                                "maxRequestAccessDuration": "PT3H",
                                                                "number": 3389,
                                                                "protocol": "*"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "Microsoft.Security/locations/jitNetworkAccessPolicies"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
            "get": {
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPolicies_ListByRegion",
                "parameters": [
                    {
                        "description": "Azure subscription ID",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
                        }
                    },
                    {
                        "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
                        "in": "path",
                        "name": "ascLocation",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "API version for the operation",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI to fetch the next page.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Describes an Azure resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    },
                                                    {
                                                        "description": "Describes an Azure resource with kind",
                                                        "properties": {
                                                            "kind": {
                                                                "description": "Kind of the resource",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    {
                                                        "description": "Describes an Azure resource with location",
                                                        "properties": {
                                                            "location": {
                                                                "description": "Location where the resource is stored",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "properties": {
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "provisioningState": {
                                                                "description": "Gets the provisioning state of the Just-in-Time policy.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "requests": {
                                                                "items": {
                                                                    "properties": {
                                                                        "requestor": {
                                                                            "description": "The identity of the person who made the request",
                                                                            "type": "string"
                                                                        },
                                                                        "startTimeUtc": {
                                                                            "description": "The start time of the request in UTC",
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "virtualMachines": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "description": "Resource ID of the virtual machine that is linked to this policy",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "ports": {
                                                                                        "description": "The ports that were opened for the virtual machine",
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "allowedSourceAddressPrefix": {
                                                                                                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "allowedSourceAddressPrefixes": {
                                                                                                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
                                                                                                    "items": {
                                                                                                        "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "endTimeUtc": {
                                                                                                    "description": "The date & time at which the request ends in UTC",
                                                                                                    "format": "date-time",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "number": {
                                                                                                    "maximum": 65535,
                                                                                                    "minimum": 0,
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "status": {
                                                                                                    "description": "The status of the port",
                                                                                                    "enum": [
                                                                                                        "Revoked",
                                                                                                        "Initiated"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "status",
                                                                                                        "values": [
                                                                                                            {
                                                                                                                "value": "Revoked"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "Initiated"
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                },
                                                                                                "statusReason": {
                                                                                                    "description": "A description of why the `status` has its value",
                                                                                                    "enum": [
                                                                                                        "Expired",
                                                                                                        "UserRequested",
                                                                                                        "NewerRequestInitiated"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "statusReason",
                                                                                                        "values": [
                                                                                                            {
                                                                                                                "value": "Expired"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "UserRequested"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "NewerRequestInitiated"
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "endTimeUtc",
                                                                                                "number",
                                                                                                "status",
                                                                                                "statusReason"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "id",
                                                                                    "ports"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "requestor",
                                                                        "startTimeUtc",
                                                                        "virtualMachines"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "virtualMachines": {
                                                                "description": "Configurations for Microsoft.Compute/virtualMachines resource type.",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "Resource ID of the virtual machine that is linked to this policy",
                                                                            "type": "string"
                                                                        },
                                                                        "ports": {
                                                                            "description": "Port configurations for the virtual machine",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "allowedSourceAddressPrefix": {
                                                                                        "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "allowedSourceAddressPrefixes": {
                                                                                        "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
                                                                                        "items": {
                                                                                            "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "maxRequestAccessDuration": {
                                                                                        "description": "Maximum duration requests can be made for. In ISO 8601 duration format. Minimum 5 minutes, maximum 1 day",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "number": {
                                                                                        "maximum": 65535,
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "protocol": {
                                                                                        "enum": [
                                                                                            "TCP",
                                                                                            "UDP",
                                                                                            "*"
                                                                                        ],
                                                                                        "type": "string",
                                                                                        "x-ms-enum": {
                                                                                            "modelAsString": true,
                                                                                            "name": "protocol",
                                                                                            "values": [
                                                                                                {
                                                                                                    "value": "TCP"
                                                                                                },
                                                                                                {
                                                                                                    "value": "UDP"
                                                                                                },
                                                                                                {
                                                                                                    "name": "All",
                                                                                                    "value": "*"
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "maxRequestAccessDuration",
                                                                                    "number",
                                                                                    "protocol"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "ports"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "virtualMachines"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response structure.",
                                    "properties": {
                                        "error": {
                                            "description": "Error details.",
                                            "properties": {
                                                "code": {
                                                    "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A message describing the error, intended to be suitable for display in a user interface.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-external": true
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-external": true
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "x-ms-examples": {
                    "Get JIT network access policies on a subscription from a security data location": {
                        "parameters": {
                            "api-version": "2015-06-01-preview",
                            "ascLocation": "westeurope",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/westeurope/jitNetworkAccessPolicies/default",
                                            "kind": "Basic",
                                            "location": "westeurope",
                                            "name": "default",
                                            "properties": {
                                                "provisioningState": "Succeeded",
                                                "requests": [
                                                    {
                                                        "requestor": "barbara@contoso.com",
                                                        "startTimeUtc": "2018-05-17T08:06:45.5691611Z",
                                                        "virtualMachines": [
                                                            {
                                                                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1",
                                                                "ports": [
                                                                    {
                                                                        "allowedSourceAddressPrefix": "192.127.0.2",
                                                                        "endTimeUtc": "2018-05-17T09:06:45.5691611Z",
                                                                        "number": 3389,
                                                                        "status": "Initiated",
                                                                        "statusReason": "UserRequested"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "virtualMachines": [
                                                    {
                                                        "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Compute/virtualMachines/vm1",
                                                        "ports": [
                                                            {
                                                                "allowedSourceAddressPrefix": "*",
                                                                "maxRequestAccessDuration": "PT3H",
                                                                "number": 22,
                                                                "protocol": "*"
                                                            },
                                                            {
                                                                "allowedSourceAddressPrefix": "*",
                                                                "maxRequestAccessDuration": "PT3H",
                                                                "number": 3389,
                                                                "protocol": "*"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "Microsoft.Security/locations/jitNetworkAccessPolicies"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
            "get": {
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPolicies_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "Azure subscription ID",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
                        }
                    },
                    {
                        "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "API version for the operation",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI to fetch the next page.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Describes an Azure resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    },
                                                    {
                                                        "description": "Describes an Azure resource with kind",
                                                        "properties": {
                                                            "kind": {
                                                                "description": "Kind of the resource",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    {
                                                        "description": "Describes an Azure resource with location",
                                                        "properties": {
                                                            "location": {
                                                                "description": "Location where the resource is stored",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "properties": {
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "provisioningState": {
                                                                "description": "Gets the provisioning state of the Just-in-Time policy.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "requests": {
                                                                "items": {
                                                                    "properties": {
                                                                        "requestor": {
                                                                            "description": "The identity of the person who made the request",
                                                                            "type": "string"
                                                                        },
                                                                        "startTimeUtc": {
                                                                            "description": "The start time of the request in UTC",
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "virtualMachines": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "description": "Resource ID of the virtual machine that is linked to this policy",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "ports": {
                                                                                        "description": "The ports that were opened for the virtual machine",
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "allowedSourceAddressPrefix": {
                                                                                                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "allowedSourceAddressPrefixes": {
                                                                                                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
                                                                                                    "items": {
                                                                                                        "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "endTimeUtc": {
                                                                                                    "description": "The date & time at which the request ends in UTC",
                                                                                                    "format": "date-time",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "number": {
                                                                                                    "maximum": 65535,
                                                                                                    "minimum": 0,
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "status": {
                                                                                                    "description": "The status of the port",
                                                                                                    "enum": [
                                                                                                        "Revoked",
                                                                                                        "Initiated"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "status",
                                                                                                        "values": [
                                                                                                            {
                                                                                                                "value": "Revoked"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "Initiated"
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                },
                                                                                                "statusReason": {
                                                                                                    "description": "A description of why the `status` has its value",
                                                                                                    "enum": [
                                                                                                        "Expired",
                                                                                                        "UserRequested",
                                                                                                        "NewerRequestInitiated"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "statusReason",
                                                                                                        "values": [
                                                                                                            {
                                                                                                                "value": "Expired"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "UserRequested"
                                                                                                            },
                                                                                                            {
                                                                                                                "value": "NewerRequestInitiated"
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "endTimeUtc",
                                                                                                "number",
                                                                                                "status",
                                                                                                "statusReason"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "id",
                                                                                    "ports"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "requestor",
                                                                        "startTimeUtc",
                                                                        "virtualMachines"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "virtualMachines": {
                                                                "description": "Configurations for Microsoft.Compute/virtualMachines resource type.",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "Resource ID of the virtual machine that is linked to this policy",
                                                                            "type": "string"
                                                                        },
                                                                        "ports": {
                                                                            "description": "Port configurations for the virtual machine",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "allowedSourceAddressPrefix": {
                                                                                        "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "allowedSourceAddressPrefixes": {
                                                                                        "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
                                                                                        "items": {
                                                                                            "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "maxRequestAccessDuration": {
                                                                                        "description": "Maximum duration requests can be made for. In ISO 8601 duration format. Minimum 5 minutes, maximum 1 day",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "number": {
                                                                                        "maximum": 65535,
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "protocol": {
                                                                                        "enum": [
                                                                                            "TCP",
                                                                                            "UDP",
                                                                                            "*"
                                                                                        ],
                                                                                        "type": "string",
                                                                                        "x-ms-enum": {
                                                                                            "modelAsString": true,
                                                                                            "name": "protocol",
                                                                                            "values": [
                                                                                                {
                                                                                                    "value": "TCP"
                                                                                                },
                                                                                                {
                                                                                                    "value": "UDP"
                                                                                                },
                                                                                                {
                                                                                                    "name": "All",
                                                                                                    "value": "*"
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "maxRequestAccessDuration",
                                                                                    "number",
                                                                                    "protocol"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "ports"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "virtualMachines"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response structure.",
                                    "properties": {
                                        "error": {
                                            "description": "Error details.",
                                            "properties": {
                                                "code": {
[...]
